@use 'defaults/admin-bar';
@use 'defaults/functions';
@use 'defaults/reset';
@use 'defaults/variables';

// Parts
@use 'parts/header';
@use 'parts/footer';

// Templates
@use 'templates/page';

.sidekick-global-sticky-wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
}
