// defaults
@use 'defaults/admin-bar';
@use 'defaults/functions';
@use 'defaults/headings';
@use 'defaults/inputs';
@use 'defaults/reset';
@use 'defaults/variables';

// Parts
@use 'parts/header';
@use 'parts/footer';

// Plugins
@use 'plugins/everest-forms';
@use 'plugins/woocommerce';

// Templates
@use 'templates/archive-product';
@use 'templates/page';
@use 'templates/single-product';

.sidekick-global-sticky-wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
}
