<!-- wp:group {"tagName":"header","className":"header--sidekick","layout":{"type":"default"}} -->
<header class="wp-block-group header--sidekick">
    <!-- wp:template-part {"slug":"header","tagName":"header"} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:post-content {"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","style":{"spacing":{"margin":{"top":"0"}}}} /-->
