<!-- wp:group {"tagName":"header","className":"header--sidekick","layout":{"type":"default"}} -->
<header class="wp-block-group header--sidekick">
    <!-- wp:template-part {"slug":"header","tagName":"header"} /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"padding":{"top":"32px","bottom":"32px","left":"24px","right":"24px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignwide">
    <!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
